<div class="container">
    <h2 class="my-4">Carrito {{cart._id}}</h2>
    {{#if cart.products.length}}
    <h3 class="my-4">Productos Agregados</h3>
    <div class="row">
        {{#each cart.products}}
        <div class="col-md-3">
            <div class="card">
                <img src="{{this.product.thumbnails.[0]}}" alt="{{this.product.title}}" class="card-img-top img-fluid">
                <div class="card-body">
                    <h5 class="card-title">{{this.product.title}}</h5>
                    <p class="card-text">Precio: ${{this.product.price}}</p>
                    <p class="card-text">Cantidad: {{this.quantity}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="my-4 text-center">
        <h4>Total a pagar: ${{calculateTotal cart.products}}</h4>
    </div>
    {{else}}
    <p>El carrito está vacío.</p>
    {{/if}}
</div>

<div class="row">
    <div class="col text-center">
        <a href="/" class="text-decoration-none mx-3">Seguir comprando</a>
    </div>
</div>