<div class="container">
    <h2 class="my-4">Lista de Productos</h2>
    <div class="row">
        {{#each products}}
        <div class="col-md-3">
            <div class="card">
                <img src="{{this.thumbnails.[0]}}" alt="{{this.title}}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">Precio: ${{this.price}}</p>
                </div>
            </div>
        </div>
        {{else}}
        <p>No hay productos disponibles</p>
        {{/each}}
    </div>
</div>